<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>


   <connectionStrings>
      <add name="InstitutionContext"
           connectionString="data source=.\SQLEXPRESS;User ID=sa;Password=1;Initial Catalog=IAmOpen;Integrated Security=false;Pooling=False;"
           providerName="System.Data.SqlClient" />
   </connectionStrings>
    
  <system.web>
     <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/> <!--todo: make up a better solution-->
  </system.webServer>

</configuration>
