@using Iamopen.OnlineAvailability.Interface.Models
@model InstitutionOnlineStatusRequestResult
@{
   ViewBag.Title = "title";
}
<h2>
   title</h2>
<style>
   .hall-info {
      background-color: darkgrey;
      margin: 5px;
   }
   .hall-info p {
      padding-left: 20px;
   }
   
</style>
@{
   foreach (var hall in Model.Halls)
   {
      
   <div class="hall-info">
      Hall info: 
      ID=@hall.HallID
      Name= @hall.Name
      @foreach (var table in hall.Tables)
      {
         <p>
            Table Info: ID= @table.TableID
            No= @table.TableNo
            Status= @table.TableStatus.ToString()</p>
      }
   </div>
   
   }
}
