<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <connectionStrings>
      <add name="AvailabilityManagementContext" connectionString="data source=.\SQLEXPRESS;User ID=sa;Password=1;Initial Catalog=IAmOpen.OnlineReservations;Integrated Security=false;Pooling=False;" providerName="System.Data.SqlClient" />
   </connectionStrings>

   <system.web>
      <compilation debug="true" targetFramework="4.0" />
   </system.web>

   <system.serviceModel>
      <services>
         <!--note MM: service's 'name' attribute should be equal to the "Service" attribute of ServiceHost element in .svc file(took me few long hours to find that out)-->
         <service name="Iamopen.Availability.AMS.Implementation.AvailabilityManagementService"
                  behaviorConfiguration="metadataBehavior">
            <endpoint address=""
                      binding="wsHttpBinding"
                      contract="Iamopen.Availability.AMS.Interface.IAvailabilityManagementService"
                      name="AMS-endpoint"/>
            <endpoint address="mex"
                      binding="mexHttpBinding"
                      contract="IMetadataExchange"
                      name="mex-enpoint"/>
         </service>
      </services>

      <behaviors>
         <serviceBehaviors>
            <behavior name="metadataBehavior">
               <serviceMetadata httpGetEnabled="True" />
               <serviceDebug includeExceptionDetailInFaults="False" />
            </behavior>
         </serviceBehaviors>
      </behaviors>

      <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
   </system.serviceModel>


   <system.webServer>
      <defaultDocument>
         <files>
            <add value="service.svc" />
         </files>
      </defaultDocument>

      <!--<modules runAllManagedModulesForAllRequests="true"/>-->

   </system.webServer>


</configuration>
